
body {
  background-color: #fff;
}

#logo { 
position: fixed; /* or absolute */
 top: 10%;
  left: 50%;
  display: inline-block;

}

h1 {
  
}

h2{
 color: green;
 display: inline-block;
}

.soon {
  top: 20%;
  left: 50%;
}